<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST Assured API Test Suite" verbose="2" parallel="none">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Posts Tests">
        <classes>
            <class name="com.apitest.posts.PostTest"/>
        </classes>
    </test>

    <test name="Comments Tests">
        <classes>
            <class name="com.apitest.comments.CommentTest"/>
        </classes>
    </test>

    <test name="Albums Tests">
        <classes>
            <class name="com.apitest.albums.AlbumTest"/>
        </classes>
    </test>

    <test name="Photos Tests">
        <classes>
            <class name="com.apitest.photos.PhotoTest"/>
        </classes>
    </test>

    <test name="Todos Tests">
        <classes>
            <class name="com.apitest.todos.TodoTest"/>
        </classes>
    </test>

    <test name="Users Tests">
        <classes>
            <class name="com.apitest.users.UserTest"/>
        </classes>
    </test>

</suite>